<h1>Bands</h1>

<div class="panel panel-default">
  <div class="panel-body">
    <form action="/bands" method="post">
      <div class="input-group">
        <input type="text" name="band_name" id="band_name" class="form-control" placeholder="Name">
        <span class="input-group-btn">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>

<% if @bands == [] %>

  <p> Please add a band. </p>

<% else %>


<ul class="list-group">

  <% @bands.each() do |band|  %>

  <li class="list-group-item"><a href="/band/<%= band.id()%>"><%= band.name() %></a></li>

  <% end %>

</ul>

<% end %>
