<h1>Bands</h1>

<form action="/bands" method="post" class="form-inline">
  <div class="input-group">
    <input type="text" name="band_name" id="band_name" class="form-control" placeholder="Name">
    <span class="input-group-btn">
    <button type="submit" class="btn btn-default">Submit</button>
  </div>
</form>

<% if @bands == [] %>

  <p> Please add a band. </p>

<% else %>


<ul>

  <% @bands.each() do |band|  %>

  <li><a href="/band/<%= band.id()%>"><%= band.name() %></a></li>

  <% end %>

</ul>

<% end %>
