<!DOCTYPE html>
<html>
  <head>
    <title>Band Tracker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div id="navigation">
      <ul class="nav nav-tabs">
        <li role="presentation"><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
        <li role="presentation"><a href="/bands">Bands</a></li>
        <li role="presentation"><a href="/venues"> <span class="glyphicon glyphicon-plus"></span> Venue</a></li>
      </ul>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
