<h1>Venue Form</h1>

<form action="/venues" method="post" class="form-inline">
  <div>
    <div class="input-group">
      <input type="text" name="venue_name" id="venue_name"  class="form-control" placeholder="Name">
      <span class="input-group-btn">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>

<% if @venues == [] %>

  <p> Please add a venue. </p>

<% else %>


<ul>

  <% @venues.each() do |venue|  %>

  <li><%= venue.name() %></li>

  <% end %>

</ul>

<% end %>
